<!DOCTYPE html>
<html>
<head>
	<title>Products</title>
</head>
<body>
	Prodcuts:-
	
	<ul>
		{{#for (var temp in data)}}
		<li>{{data.vendor}}</li>
		<li>{{vendor}}</li>
		<li>{{data}}</li>

		
		<li>{{temp.vendor}}</li>
		<li>{{temp.price}}/li>
		<li>{{data}}</li>
	
	</ul>



</body>
</html>